<html>
  {% load static %}
  <head>
    <title>{% block title %}Connectislice{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.ico' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicon.ico' %}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      href="{% static 'css/styles.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'css/custom.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'shared/navbar.html' %}
    <div class="container">{% block page_content %}{% endblock %}</div>
    {% include 'shared/footer.html' %}
  </body>
</html>
