{% load static %}


{% block page_content %}
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{% static 'logo.jpg' %}" alt="logo">
    </a>
    <div class="nav-item-title">
      <a href="/">
        <h2>Connectislice</h2>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <p class='px-4'>Hello, {{ user.username|title }}! </p>
        </li>
        <li class="nav-item">
          <p><a href="{% url 'logout' %}"  class='px-4'>Logout</a></p>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'register' %}" class="btn btn-outline-primary btn-sign-up">Register</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'login' %}" class="btn btn-flat btn-login">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
