{% extends "base.html" %} {% load static %} {% block page_content %}
{% load crispy_forms_tags %}

<html>
<head>
    <title>Sign up</title>
</head>
<body>
    <h1>Sign up to slice</h1>
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Sign Up" class="btn btn-primary" />
      </form>
</body>
</html>
{% endblock %}

{% comment %}
<h1>Tell us about your experience at this restaurant !</h1>
<form method="POST" action="{% url 'restaurant_detail' pk=restaurant.pk %}">
  {% csrf_token %}
  {{form|crispy}}
  <input type="submit" value="Add comment" class="btn btn-primary" />
</form>

{% endblock %} {% endcomment %}
