{% extends "base.html" %}
{% block page_content %}
  {% load crispy_forms_tags %}
  <form method="POST" action="{% url 'comment_update' pk=form.instance.pk %}">
    {% csrf_token %}
    <div class="form-group">
      {{ form.body.label }}
      <input type="text"
             class="form-control"
             name="body"
             value="{{ comment.body }}" />
      {{ form.cheapestslice.label }}
      <input type="number"
             class="form-control"
             name="cheapestslice"
             value="{{ comment.cheapestslice }}" />
      {{ form.quality.label }}
      <input type="number"
             class="form-control"
             name="quality"
             value="{{ comment.quality }}" />
    </div>
    <input type="submit" value="Update Comment" class="btn btn-primary" />
  </form>
{% endblock %}
