{% extends "base.html" %} {% load static %} {% block page_content %}



  <h1 class="text-center mb-4 mt-4">Restaurants</h1>

  <div class="row">
    {% for restaurant in restaurants %}
    <div class="col-md-3">

      <div class="card mb-2" style="width: 16rem;">
        <a href="{% url 'restaurant_detail' restaurant.pk %}">
        {% if restaurant.image.url %}
        <img class="card-img-top" src="{{ restaurant.image.url }}" alt="restaurant image" >
        {% else %}
        <img class="card-img-top" src="{% static 'frank.jpg' %}" alt="My image">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title text-center">{{ restaurant.name|title }}</h5>
          <p class="card-text text-justify overflow-hidden" style="height: 5rem; font-size:12px;">{{ restaurant.description|title }}</p>
        </div>
      </a>
      </div>
    </div>

    {% endfor %}
  </div>

  <div class="text-center mt-4">
  {% if user.is_authenticated %}
    <a href="restaurants/create" class="btn btn-secondary" > Add a restaurant </a>
  {% else %}
  <p>
  <a href="{% url 'register' %}"> Sign up </a> or <a href="{% url 'login' %}">Sign in</a>
  to create a restaurant!  </p>
{% endif %}
  </div>
{% endblock %}
