{% extends "base.html" %} {% block page_content %} {% load static %}
<div class="container">
  <h1 class="mb-5 mt-5">Tell us more about your restaurant !</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      {{ form.name.label }}
      <input
        type="text"
        class="form-control mb-4"
        name="name"
        value="{{ restaurant.name }}"
      />
      {% if form.name.errors %}
      <div class="text-danger">{{ form.name.errors }}</div>
      {% endif %} {{ form.description.label }}
      <input
        type="text"
        class="form-control mb-4"
        name="description"
        value="{{ restaurant.description }}"
      />
      {% if form.description.errors %}
      <div class="text-danger">{{ form.description.errors }}</div>
      {% endif %} {{ form.address.label }}
      <input
        type="text"
        class="form-control mb-4"
        name="address"
        value="{{ restaurant.address }}"
      />
      {% if form.address.errors %}
      <div class="text-danger">{{ form.address.errors }}</div>
      {% endif %} {{ form.image.label }}
      <div class="custom-file mb-4">
        <input
          type="file"
          class="custom-file-input"
          name="image"
          value="{{ restaurant.image }}"
        />
        <label class="custom-file-label" for="{{ form.image.label }}"
          >restaurant's image</label
        >
      </div>
    </div>
    <div class="text-center">
      <input type="submit" value="Create Restaurant" class="btn btn-primary" />
    </div>
  </form>
</div>
{% endblock %}
