{% extends "base.html" %} {% load static %} {% block page_content %}
<h1>{{ restaurant.name|title }}</h1>
<div class="row">
  <div class="col-md-8">
    <!-- <img src="{% static restaurant.image %}" alt="" width="100%"> -->
  </div>
  <div class="col-md-4">
    <h5>About the restaurant:</h5>
    <p>{{ restaurant.description }}</p>
    <br>
    <h5>Address:</h5>
    <p>{{ restaurant.address }}</p>
    <h5>Cheapest slice (last reported price):</h5>
    <p>{{ restaurant.comments.last.cheapestslice }}</p>
    <h5>On a scale from 1 to 5 did users like this restaurant?:</h5>
    <h5>Bang for buck:</h5>
  </div>
  <a class="btn btn-primary" href="/">get me to main page </a>
</div>




{% comment %} CREATE COMMENT {% endcomment %}

<a class="btn btn-primary" href="{% url 'comment_create' restaurant.pk %}">
Add a comment
</a>

{% comment %} DELETE RESTAURANT {% endcomment %}
<form method="POST" action="{% url 'restaurant_delete' restaurant.pk %}">
  {% csrf_token %}
  <input type="submit" value="Delete restaurant" class="btn btn-danger" />
</form>

{% comment %} UPDATE RESTAURANT {% endcomment %}
<form method="POST" action="{% url 'restaurant_update' restaurant.pk %}">
  {% csrf_token %}
  <input type="submit" value="Update restaurant" class="btn btn-warning" />
</form>




{% comment %} DISPLAY COMMENTS {% endcomment %}

{% for comment in restaurant.comments.all %}
<p> Username </p>
<p>{{ comment.username }}</p>
<p> Comment </p>
<p>{{ comment.body }}</p>
<p> Grade </p>
<p>{{ comment.quality }}</p>
<p> Cheapest slice observed: </p>
<p>{{ comment.cheapestslice }}</p>

<form method="POST" action="{% url 'comment_update' restaurant_pk=restaurant.pk pk=comment.pk %}">
  {% csrf_token %}
  <input type="submit" value="Update comment" class="btn btn-warning" />
</form>

<form method="POST" action="{% url 'comment_delete' restaurant_pk=restaurant.pk pk=comment.pk %}">
  {% csrf_token %}
  <input type="submit" value="Delete comment" class="btn btn-danger" />
</form>

{% endfor %}

{% endblock %}
